.title-site{
    background-color: #498b87;
    color: #dddddd;
    text-align: center;
    font-weight: bold;
    size: 400px 125px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border-color: #3f817c;
}

.bild img{
    overflow-x: hidden;
    margin-top: 20px;
    width: 100%;
    height: 10%;
    max-height: 50%;
}

.loga{
    top: 130px;
    left: 70px;
    width: 10%;
    position: absolute;
}

.page_start_p2{
    background-color: #0D99FF9C;
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #085b979c;
}

.box1_contain{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.info_box1_p2{
    background-color: #3BCC7F;
    float: left;
    width: 150px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #227448;
}

.box2_contain{
    height: 500px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.info_box2_p2{
    background-color: #FFE8A3;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    margin-top: 50px;
    width: 80%;
    height: 200px;
}

.data_boxes{
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    height: 10%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.button{
    width: 50px;
    height: 40px;
    top: 200px;
    left: 40%;
    position: absolute;
    background-color: white;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    border: black solid 2px;
    color: black;
    text-decoration: none;
    padding: 7px;
}

.mat_kategorie{
    display: flex;
    margin-top: 100px;
    height: 300px;
    text-align: center;
    justify-content: space-around;
}

.mat_kategorie_kolumn{
    display: flex;
    justify-content: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(148, 146, 146);
    font-weight: bold;
    width: 200px;
    height: 200px;
}

.blå_box{
    display: flex;   
    margin-top: 50px;
    height: 300px;
    text-align: center;
    justify-content: space-around;
}

.blå_box_box{
    display: flex;
    background-color: #BDE3FF;
    border-radius: 10px;
    border-style: solid;
    height: 300px;
    width: 25%;
    justify-content: space-around;
}

.blå_box_button{
    margin-top: 30%;
    background-color: black;
    border-radius: 10px;
    border-style: solid;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 50px;
    text-decoration: none;
}

.foot{
    display: flex;
    margin-top: 10%;
    background-color: #FFA629;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border-style: solid;
    border-color: #9b6417;
    justify-content: space-around;
    font-weight: bold;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
    position: absolute;
    top: 30%;
    right: 8px;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
  }